/* Styles for Contact.js component */
/* Contact.module.css */


.hero {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.heroImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.showOverlay {
    opacity: 1;
}

.connectText {
    color: white;
    font-size: 4rem;
    text-align: center;
    transition: color 0.5s ease-in-out;
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}

.overlay:hover .connectText {
    color: lightgray;
}

.centeredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    /* Add some padding for spacing */
}

.centeredContent h1 {
    margin-bottom: 10px;
    /* Add some spacing below the headings */
}
.imgFabric{
    height: 65px;
    width: 160px;
  

}
.colSpace{
    
    justify-content: center;
}
.para{
    text-align: center;
}
